venv/
voorraad.db
voorraad.db-shm
voorraad.db-wal
secret_key.txt
admin_wachtwoord_initieel.txt
backups/
email_instellingen.py
__pycache__/
*.pyc
.DS_Store
.pytest_cache/
uptime_status.txt
static/stem_afbeeldingen/
